<article
  class="{{ if not .Site.Params.homepage.showRecent }}
    h-full
  {{ end }} flex flex-col items-center">
  <header class="mb-3 flex flex-col items-center">
    {{ $lazy := .Params.enableImageLazyLoading | default .Site.Params.enableImageLazyLoading | default true }}
    {{ $altText := ($.Site.Language.Params.Author.name | default "Author") }}
    {{ with .Site.Language.Params.Author.image }}
      {{ $authorImage := resources.Get . }}
      {{ if $authorImage }}
        {{ $imgClass := "mb-2 h-auto w-36 rounded-full" }}
        {{ partial "picture.html" (dict "img" $authorImage "alt" $altText "class" $imgClass "lazy" $lazy) }}
      {{ end }}
    {{ end }}
    <h1 class="text-4xl font-extrabold">
      {{ .Site.Language.Params.Author.name | default .Site.Title }}
    </h1>
    {{ with .Site.Language.Params.Author.headline }}
      <h2 class="text-xl text-neutral-500 dark:text-neutral-400">
        {{ . | markdownify | emojify }}
      </h2>
    {{ end }}
    <div class="mt-1 text-2xl">
      {{ partialCached "author-links.html" . }}
    </div>
  </header>
  <section class="prose dark:prose-invert">{{ .Content | emojify }}</section>
</article>
<section>
  {{ partial "recent-articles.html" . }}
</section>
<section class="flex flex-col items-center mt-8">
  {{/* Output taxonomies */}}
  {{ if and (.Params.showTaxonomies | default (.Site.Params.article.showTaxonomies | default false))
  }}
    <div class="my-1 flex flex-wrap items-center text-xs leading-relaxed text-neutral-500 dark:text-neutral-400">
      {{ range .Site.Taxonomies.categories }} 
        <a
          href="{{ .Page.Permalink }}"
          class="mx-1 my-1 rounded-md border border-neutral-200 px-1 py-[1px] hover:border-primary-300 hover:text-primary-700 dark:border-neutral-600 dark:hover:border-primary-600 dark:hover:text-primary-400"
          >{{ .Page.Title }} ({{ .Count }})</a
        >
      {{ end }}
    </div>
  {{ end }}
</section>

