{{- /*
Overview
========
This template has a lot of logic and variables to grok. Here are some high-level notes to my future self who will inevitably want to update this site and then curse my past self for making this too complicated.

Colors
- Are defined in data/colors.yml.
- This template adds the CSS classes basedClass and doingClass to each button to specify the border and background-colors of each box.

This template uses $.Store to keep updated variable values in scope outside of ranges and other loops.

There are three main loops in this page, each nested inside the other: Years, Weeks, Days.
*/ -}}

{{ $data := .Page.Site.Data.events }}

{{ $startDate := .Params.start_date }}
{{ $splitStart := split $startDate "-" }}
{{ $startYear := index $splitStart 0 }}
{{ $startMonth := index $splitStart 1 }}
{{ $startDay := index $splitStart 2 }}
{{ $endYear := .Params.end_year }}

{{ $s := newScratch }}
{{ $s.Set "based" nil }}
{{ $s.Set "basedClass" nil }}
{{ $s.Set "doing" nil }}
{{ $s.Set "doingClass" nil }}
{{ $s.Set "association" nil }}

<style>
.life-in-weeks {
  .future-date {
    background-color: #eee !important;
    border-color: #dee2e6 !important;
  }

  {{ range .Page.Site.Data.colors }}
    .{{ .class_name }} {
      {{- if .border -}}
        border: 2px solid {{ .border }};
      {{- end -}}
      {{- if .background -}}
        background-color: {{ .background }};
      {{- end -}}
      {{- if .color -}}
        color: {{ .color }};
      {{- end -}}
    }
  {{ end }}
}
</style>

<div class="flex flex-col content-center life-in-weeks">
  {{- /* Start years loop  */ -}}
  {{- range $year := seq $startYear $endYear -}}
    {{ $yearString := printf "%d" $year }}
    {{ $thisYear := printf "%s-%s-%s" $yearString $startMonth $startDay }}
    {{ $thisYearTime := time.AsTime $thisYear }}
    {{ $startYearInt := int $startYear }}
    {{ $nextYearString := printf "%d" (add $year 1) }}
    {{ $nextYear := printf "%s-%s-%s" $nextYearString $startMonth $startDay }}
    {{ $age := sub $year $startYearInt }}
    <div class="flex flex-row content-center justify-between">
      {{- /* Set next birthday */ -}}
      {{ $nextYearString := printf "%d" (add $year 1) }}
      {{ $nextYear := printf "%s-%s-%s" $nextYearString $startMonth $startDay }}

      <div class="year flex flex-none items-center justify-center
                  text-neutral-400 px-4 text-xs leading-none w-4">{{ $age }}</div>

      {{- /* Start weeks loop  */ -}}
      {{- range $week := seq 0 52 -}}
        {{ $thisWeekDate := $thisYearTime.AddDate 0 0 (mul $week 7 | int) | time.Format "2006-01-02" }}
        {{ $endYearDate := $thisWeekDate | time.AsTime | time.Format "2006-01-02" }}

        {{- /* Start days loop  */ -}}
        {{- range $day := seq 0 6 -}}
          {{ $daysAhead := add (mul $week 7 | int)  ($day | int) | int }}
          {{ $specDateAsTime := ($thisYearTime.AddDate 0 0 $daysAhead  | time.Format "2006-01-02") }}
          {{ $specDate := printf "%s" $specDateAsTime }}
          {{ if lt ( $specDateAsTime | time.AsTime ) ($nextYear | time.AsTime) }}
            {{ with index $data $specDate }}
              {{ range . }}
                {{ if .based }}
                  {{ $s.Set "based" .based }}
                  {{ $s.Set "basedClass" (urlize .based) }}
                {{ end }}
                {{ if .doing }}
                  {{ $s.Set "doing" .doing }}
                  {{ $s.Set "doingClass" (urlize .doing) }}
                {{ end }}
                {{ if ne .association nil }}
                  {{ $s.Set "association" .association }}
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}

        {{ $tooltip := (printf "%s – %s%s%s%s%s"
          (dateFormat "Jan 2, 2006" $thisWeekDate)
          (default "" ($s.Get "association"))
          (printf " in %s" ($s.Get "based"))
          (cond ($s.Get "doing") " [" "")
          (default "" ($s.Get "doing"))
          (cond ($s.Get "doing") "]" ""))
        }}

        <div class="week tooltip aspect-square m-px border-transparent border-solid
                    border-2 cursor-default w-full rounded
                    {{ $s.Get "basedClass" }} {{ $s.Get "doingClass" }}"
             data-date="{{ $thisWeekDate }}"
             data-tippy-content="{{ $tooltip }}"></div>
      {{ end }}
    </div>
  {{- end -}}
</div>

{{- .Page.Scratch.SetInMap "js" "jquery" "https://code.jquery.com/jquery-3.7.1.slim.min.js" -}}
{{- .Page.Scratch.SetInMap "js" "popperjs" "https://unpkg.com/@popperjs/core@2" -}}
{{- .Page.Scratch.SetInMap "js" "tippy" "https://unpkg.com/tippy.js@6" -}}

<script>
  $(document).ready(function () {
    var today = new Date();
    $(".week").each(function (index) {
      if (today < Date.parse($(this).attr("data-date"))) {
        $(this).addClass("future-date");
        $(this).removeClass("tooltip");
      }
    });

    tippy(".tooltip");
  });
</script>

